* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(202, 202, 241);
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%); 
    color: sl(209, 61%, 16%);
}

nav {
    background-color: white;
    margin-top: 0;
    filter: drop-shadow(2px 0 3px #888);
    padding: 5px 20px;
}

.nav-header h1 {
    padding: 5px;
    font-size: 32px;
    float: left;
}

.nav-toggle {
    float: right;
}

.nav-header {
    overflow: auto;
}

.nav-toggle i {
    color: rgb(130, 184, 248);
    padding: 5px;
    background-color: white;
}
